body {
  background-image: url(https://www.ubackground.com/_ph/3/270145196.jpg);
  color: white;

}


#container {
  height: 75px;
  width: auto;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  font-family: "Impact", "Haettenschweiler", 'Franklin Gothic Bold', 'Arial Black', sans-serif;
  color: red;
  padding: none;
}

p {
  font-family: "Arial", sans-serif;
}

#container > div.title{
  display: inline-block;
  font-size: 48px;
  text-align: center;
  text-decoration: none;

}

#container > div.options {
  display: inline-block;
  text-align: right;
  font-family: sans-serif;
  font-size: 24px;
  float: right;
  text-decoration: none;

}
#title > a {
  text-decoration: none;
  color: red;
}
#options > a {
  text-decoration: none;
  color: red;
}

#auth {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  color: blue;
}
.label {
  justify-content: center;

}

div.auth_wrapper{
  vertical-align: middle;
  width: 10em;
  background: red;
  position:relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#auth_wrapper{
  font-family: "Calibri Light", sans-serif;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

#trump{
	display : none;
}